
<p>Ask Your Coach anything:</p>

<form action="/answer" data-turbo="false" class="d-flex">
  <input type="text" name="answer" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
